extends layout

block content
    .ui.container
        .ui.basic.center.aligned.segment
            h1 User Search History
            p 
            | You can view past searches on this page.
            | This past search information is served from S3
            each key, index in keys
                div(class='infoBlock')
                    p(style="float:left;") Hashtags:&nbsp;&nbsp;#{key}
                    p(style="float:right;") Average sentiment score:&nbsp;&nbsp;#{sentiments[index]}
