extends layout

block content
    .ui.container
        .ui.basic.center.aligned.segment
            h1 Search History
            p 
            | You can view past searches on this page.
            | This past search information is served from S3
            each key in keys
                div(class='infoBlock')
                    p #{key}
           