extends layout

block content
    .ui.container
        .ui.basic.center.aligned.segment
            h1 Results for: 
            .ui.image.label
              | #CloudComputing
              i.delete.icon
            .ui.image.label
              | #Cat
              i.delete.icon
            .ui.image.label
              | #Dog
              i.delete.icon
            
            div(class="infoBlock")
                p Insert some sick graphs and analysis
                p why do border or anything?