extends layout

block content
    .ui.container
        .ui.basic.center.aligned.segment
            div(style="margin-bottom:40px;")
                h1 Results for: 

                each hashtag in hashtags
                    .ui.image.label
                        | # #{hashtag}
                        //-i.delete.icon
                
            
            div(class="infoBlock")
                p Insert some sick graphs and analysis